*{
   box-sizing: border-box;
    margin: 0;
    padding: 0;
    zoom: 95%;
    font-family: 'Merriweather Sans', sans-serif;
}
body{
    background-repeat: no-repeat;
    background-size: cover;

    height: 100vh;
    overflow: hidden;
    color: gainsboro;
    align-items: center;
}
.dayGrid{
    background-color: rgba(63, 62, 62, 0.68);
    width: 45em;
    border-radius: 15px;
    padding: 15px;
    height: 19.5em;
}
.chartGrid{
    background-color: rgba(244, 248, 248, 0.77);
    width: 90%;
    border-radius: 15px;
    /*padding: 15px;*/
    height: 100%;
    margin: 40px auto auto;
    display: none;
    flex-direction: column;
    justify-items: center;
}
#chartCanvas{
    /*width: 100%;*/
    justify-self: center;
    position: relative;
}
.dayButton{
    height: 2em;
    justify-self: center;
    background-color: rgba(63, 62, 62, 0.44);
    border-radius: 5px;
    border: none;
    padding: 3px;
    color: gainsboro;
}
.dayButton:hover{
    background-color: rgba(63, 62, 62, 0.8);
}
.chartButton:hover{
    background-color: rgba(244, 248, 248, 0.8);
}
.chartButton{
    background-color: rgba(244, 248, 248, 0.44);
    border-radius: 5px;
    border: none;
    padding: 3px;
    margin-top: 20px;
    font-size: 15px;
}
.dayGridHeader{
    display: flex;
    gap: 15px;
    border-bottom: gainsboro solid 1px;
    margin-bottom: 10px;
    justify-content: space-between;
}
.citySearch{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.city{
    text-align: left;
    padding-top: 10px;

}
.dayInfo h1{
    text-align: right;
    font-size: 60px;
    margin-bottom: 0px;
    margin-top: 20px;
}
.dayInfo h2{
    margin-top: 0px;
    text-align: right;
    margin-bottom: 0px;
}
.dayInfo{
    margin-bottom: 10px;
}
.iconWithTemp{
    display: flex
}
.mainWeatherIcon{
    justify-self: center;
    margin-left: 10px;
    padding: 5px;
    background-color: rgba(222, 219, 219, 0.75);
    border-radius: 150px;
}
.todayTemperature{
    margin-top: 50px;
    font-size: 45px;
}
.info div{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 10px;
}
.dayData{

    display: flex;
    justify-content: space-between;
}
.iconWithTemp{
    width: 60%;
    gap: 15px;
    justify-content: center;

}
.day{
    margin-top: 40px;
    display: flex;
    gap: 5px;
    justify-content: center;
    margin-bottom: 25px;
}
h1{
    text-align: center;
}

.searchButton{
    background-color: white;
    border: none;
    background-color: rgba(63, 62, 62, 0);
}
.searchImage:hover{
    background-color: rgba(21, 20, 20, 0.4);
}
.searchButton:active {
    transform: translateY(0.5px);
}
.searchImage{
    height: 3em;
    filter: invert(87%);
    border-radius: 15px;
}
.searchBar{
    border-radius: 50px;
    text-align: center;
    border: rgb(220, 220, 220, 0.2);
    width: 90%;
    font-size: 30px;
    background-color: rgb(220, 220, 220, 0.7);
    height: 80%;
    font-family: 'Merriweather Sans', sans-serif;
}
.searchBar:focus{
    background-color: rgb(220, 220, 220);
    outline: none;
}
#search {
    display: flex;
    gap: 8px;
    justify-content: center;
    height: 3em;
    width: 100%;
    align-self: center;
}

.otherDays{
    display: flex;
    background-color: rgba(63, 62, 62, 0.68);
    width: 100%;
    height: 35%;
    position: absolute;
    bottom: 0;
    padding: 35px;
}
.weatherIcon{
    width: 4em;
    height: 4em;
    align-self: center;
    background-color: rgba(222, 219, 219, 0.7);
    border-radius: 150px;
}
.otherDay{
    min-width: 300px;
    height: 93%;
    margin: 5px 25px;
    padding: 5px;
    text-align: right;
    display: flex;
    flex-direction: column;
    border: 1px gainsboro solid;
    border-radius: 15px;
    font-size: 2.5vh;
    white-space: normal;
    overflow: hidden;
}
.otherDay .dayName{
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    text-align: center;
    font-size: 3.5vh;
}
.otherDays::-webkit-scrollbar {
    display: none;
}
.otherDay:hover{
    transform: scale(1.2);
    transition-duration: 0.3s;
}

@media only screen and (max-width: 2000px) and (min-width: 990px){
    .otherDays{
        justify-content: start;
        overflow-y: scroll;
    }
}
@media only screen and (max-width: 990px){
    .otherDays{
        justify-content: start;
        overflow-y: scroll;
    }
    .otherDay{
        min-width: 37vmax;
        resize: none;
    }
    .dayGrid{
        margin-top: 100px;
        scale: 1.5;
    }
}


#loading{
    margin: 200px auto auto;
    display: none;
    width: 200px;
    height: 200px;
    border: 5px solid #333;
    border-radius: 50%;
    border-top-color: #f3f3f3;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}